@media screen and (min-width: 768px) {
    .BurgerMenu {
        display: none;
    }

  }


  @media screen and (max-width: 767px) {

    .burger-menu {
        padding-bottom: 10px;
    }

    .BurgerMenu {

        transition: .3s linear;
        padding-bottom: 20px;


    }
    .burger {
        background-color: black;
        padding-bottom: 10px;
        padding-top: 10px;

        li {
            width: 100%;
            text-align: center;
        }
        .btn {
            text-align: center;
            margin: 0 auto;
        }

  }


    .img-logo {
        padding: 30px;
    }

}