@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Kanit;
  color: #09264E;
}

p, div, nav, ul, li, button {
  font-family: K2D;
  font-size: 18px;
}

button {
  border: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
}

.primary-button {
  background-color: #00B2CA;
}

.secondary-button {
  background-color: #09264E;
}

.comp-button {
  background-color: #5900CA;
}

.primary-button:hover, .secondary-button:hover, .comp-button:hover {
  filter: brightness(110%);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* --------------- HOME --------------- */
.imgbanner-container {
  height: 100vh;
}
.imgbanner-container h1 {
  color: white;
}
.imgbanner-container img {
  max-width: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 0px;
}
.imgbanner-container .img-caption {
  position: relative;
  top: 40vh;
  z-index: 0;
  width: 700px;
  color: white;
}

/* ---------------- NAVBAR ------------------- */
.logo {
  font-size: 100px;
  color: #00B2CA;
}

.logo:hover {
  color: white;
}

.navbar-container {
  width: 100%;
  z-index: 20;
  color: white;
  position: fixed;
  height: 110px;
}
.navbar-container img {
  padding-bottom: 5px;
}

.nav-item {
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  color: #00B2CA;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: #09264E;
  height: 80px;
  z-index: 2;
  transition: 0.4s ease-out;
}
.sticky .sticky-item {
  padding-bottom: 20px;
}
.sticky img {
  padding-bottom: 15px;
}

/* ----------------- ABOUT ME ---------- */
.about-container {
  width: 1400px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-container .profile-img {
  border-radius: 100%;
  width: 300px;
}
.about-container .first-row {
  width: 1400px;
  margin: 0 auto;
}
.about-container .second-row {
  width: 500px;
  margin: 0 auto;
}
.about-container .col-xs-4 {
  width: 100px;
  margin: 0 auto;
  padding: 6px;
}

/* ----------- WORK ------------ */
.work-container {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.work-container .card {
  width: 500px;
}
.work-container h3 {
  color: white;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
}
.img-wrapper .portfolio-Image {
  display: inline-block;
  width: 100%;
  height: 300px;
}
.img-wrapper .img-content {
  position: absolute;
  color: white;
  inset: 0;
  margin-top: 150px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: #09264E;
  align-items: center;
  opacity: 0;
}
.img-wrapper .portfolio-Image, .img-wrapper .img-content {
  transition: 500ms ease-in-out;
}
.img-wrapper h5 {
  color: #00B2CA;
}

.img-wrapper:hover {
  cursor: pointer;
}
.img-wrapper:hover .img-content {
  opacity: 0.9;
  cursor: pointer;
}

/* ------------- CONTACT -------------- */
.contact-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ededed;
}
.contact-container .contact-inner-container {
  margin: 0 auto;
  width: 700px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}
.contact-container .contact-inner-container input, .contact-container .contact-inner-container textarea {
  width: 680px;
  margin: 0 auto;
  padding: 6px;
  border-radius: 10px;
  background-color: #D9D9D9;
  border: none;
}
.contact-container .contact-inner-container input:focus, .contact-container .contact-inner-container textarea:focus {
  outline: none;
}
.contact-container .contact-inner-container textarea {
  resize: none;
}

/* ------------ FOOTER ----------- */
footer {
  background-color: #09264E;
}
footer .footer-inner-container {
  width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}
footer h1 {
  color: #00B2CA;
  font-weight: bold;
}
footer .copyright-container {
  border-top: 2px solid white;
}
footer img:hover {
  opacity: 50%;
  cursor: pointer;
}
footer a {
  text-decoration: underline;
  color: white;
}
footer a:hover {
  color: #00B2CA;
  text-decoration: underline;
}