@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


$primary: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
$secondary: #09264E;
//$comp: #5900CA;

$heading-font: Kanit;
$body-font: K2D;


*{
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    color: $secondary;
}

p, div, nav, ul, li, button {
    font-family: K2D;
    font-size: 18px;
}

button {
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}


.primary-button {
    background: $primary;
    text-transform: uppercase;
    color: white;
    border-radius: 10px !important;
}

.primary-outline-button {
    background-color: transparent;
    border: 2px solid $primary;
    //border-radius: 30px;
}

.secondary-button {
    background-color: $secondary;
}


a {
    text-decoration: none;
}


ul {
    list-style-type: none;
}


/* --------------- HOME --------------- */
.overflowY {
    overflow: visible;
}

.imgbanner-container {
    height: 100vh; 

    h1 {
        color: white;
    }


    img {
        max-width: 100%;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        object-fit: cover;
        filter: brightness(50%);
        border-radius: 0px;
    }

    .img-caption {
        position: relative;
        top: 40vh;
        z-index: 0;
        width: 700px;
        color: white;
    }
}



/* ---------------- NAVBAR ------------------- */


.logo {
    font-size: 60px;
    font-weight: bold;
    background: $primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    //font-family: $heading-font;
    line-height: 50px !important;
    margin-bottom: 40px;
}

.logo:hover {
    color: white;
}



.navbar-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    color: white;
    position: absolute;
    top: 0;
    
}

.nav-item {
    text-decoration: none;
    color: white;
        position: relative;
        transition: color .3s ease-in-out;
        
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 3px;
            background-color: white;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        
        &:hover::before {
            transform: scaleX(1);
        }	
        &:hover {
            color: white;
        }
}




/* ----------------- ABOUT ME ---------- */


.about-container {
    width: 1400px;
    padding-top: 100px;
    padding-bottom: 100px;


    .profile-img {
        border-radius: 100%;
        width: 300px;
    }


    .first-row {
        width: 1400px;
        margin: 0 auto;
    }

    .second-row {
        width: 500px;
        margin: 0 auto;
    }

    .skill-container {
        font-size: 20px;
        padding: 10px 20px;
        background: lightgrey;
        border-radius: 30px;
    }


}



/* ----------- WORK ------------ */
.work-container {
    margin: 0 auto;
    width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;

    .text-container {
        .github-icon {
            width: 50px;
        }
        .github-icon:hover {
            cursor: pointer;
            animation: refresh 1s cubic-bezier(.36,.07,.57,.99) infinite;
        }
        .box {
            padding: 10px 20px;
            background-color: lightgrey;
            border-radius: 30px;
        }
        a {
            text-decoration: none;
            color:black;
            font-size: 20px;
            margin: 20px;
        }

        a:hover {
            color: $secondary;
        }
        .arrow1 {
            animation: slide1 1s ease-in-out infinite;
        }
    }

    .card {
        width: 500px;
    }

    img {
        text-align: center;
    }

    h3 {
        color: white;
    }
}


.img-wrapper {
    overflow: hidden;
    position: relative;
    text-align: center;

    .portfolio-Image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 11px;
      }

      .img-content {
        position: absolute;
        color: white;
        inset: 0;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        background: $secondary;
        border-radius: 11px;
        align-items: center;
        opacity: 0;
        font-size: 20px;
        
        img {
            width: 80px;
        }

  
    }

    .portfolio-Image, .img-content {
        transition: 500ms ease-in-out;
    }

    h5 {
        color: $primary;
    }
  }
  

  
  .img-wrapper:hover {

    cursor: pointer;

    .img-content {
    opacity: .9;
    cursor: pointer;
  }
}


.work-modal {
    width: 80%;
    height: 80%;
    padding: 20px;
    margin: 70px auto;
    border-radius: 10px;
    background-color: white;
}

.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
  



/* ------------- CONTACT -------------- */

.contact-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ededed;


    .contact-inner-container {
        margin: 0 auto;
        width: 700px;
        background-color: white;
        border-radius: 5px;
        padding: 30px;

        input, textarea {
            width: 680px;
            margin: 0 auto;
            padding: 6px;
            border-radius: 10px;
            background-color: #D9D9D9;
            border: none;
        }

        input:focus, textarea:focus {
            outline: none;
        }

        textarea {
            resize:none;
        }
    }
}





/* ------------ FOOTER ----------- */

footer {
    background-color: $secondary;

    .footer-inner-container {
        width: 1300px;
        margin: 0 auto;
        padding-top: 30px;
    }
    h1 {
        color: $primary;
        font-weight: bold;
    }

    .copyright-container {
        border-top: 2px solid white;
    }

    img:hover {
        opacity: 50%;
        cursor: pointer;
    }

    a {
        text-decoration: underline;
        color: white;
    }

    a:hover {
        color: $primary;
        text-decoration: underline;
    }
}




@keyframes refresh {
    from {
        transform: scale(1.1) rotate(0);
    }
    to {
        transform: scale(1.1) rotate(360deg);
    }
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }