@import url("https://fonts.googleapis.com/css2?family=K2D:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Kanit;
  color: #09264E;
}

p, div, nav, ul, li,button {
  font-family: K2D;
  font-size: 18px;
}

button {
  border: none;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.primary-button {
  /*background: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);*/
  /*background: #7843E9;*/
  /*
  text-transform: uppercase;
  color: white;
  border-radius: 10px !important;
  */
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  text-transform: uppercase;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.primary-button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.primary-button:focus {
  outline: none;
}

.primary-outline-button {
  background-color: transparent;
  border: 2px solid linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
}

.secondary-button {
  background-color: #09264E;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* --------------- HOME --------------- */
.overflowY {
  overflow: visible;
}

.imgbanner-container {
  height: 100vh;
}
.imgbanner-container h1 {
  color: white;
}
.imgbanner-container img {
  max-width: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 0px;
}
.imgbanner-container .img-caption {
  position: relative;
  top: 40vh;
  z-index: 0;
  width: 700px;
  color: white;
}

/* ---------------- NAVBAR ------------------- */
.logo {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 50px !important;
  margin-bottom: 40px;
}

.logo:hover {
  color: white;
}

.navbar-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  color: white;
  position: absolute;
  top: 0;
}

.nav-item {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.nav-item::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav-item:hover::before {
  transform: scaleX(1);
}
.nav-item:hover {
  color: white;
}

/* ----------------- ABOUT ME ---------- */
.about-container {
  width: 1400px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-container .profile-img {
  border-radius: 100%;
  width: 300px;
}
.about-container .first-row {
  width: 1400px;
  margin: 0 auto;
}
.about-container .second-row {
  width: 500px;
  margin: 0 auto;
}
.about-container .skill-container {
  font-size: 20px;
  padding: 10px 20px;
  background: lightgrey;
  border-radius: 30px;
}

/* ----------- WORK ------------ */
.work-modal .box {
  padding: 10px 20px;
  background-color: lightgrey;
  border-radius: 30px;
}
.work-modal img {
  width: 25rem;
  border-radius: 10px;
}

.work-container {
  margin: 0 auto;
  width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.work-container .row {
  padding-bottom: 5rem;
}
.work-container .text-container .github-icon {
  width: 50px;
}
.work-container .text-container .github-icon:hover {
  cursor: pointer;
  animation: refresh 1s cubic-bezier(0.36, 0.07, 0.57, 0.99) infinite;
}
.work-container .text-container .box {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightgrey;
  border-radius: 30px;
}
.work-container .text-container a {
  font-weight: bold;
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin: 20px;
}
.work-container .text-container a:hover {
  color: #09264E;
}
.work-container .text-container a:hover {
  animation: slide1 1s ease-in-out infinite;
}
.work-container .card {
  width: 500px;
}
.work-container img {
  text-align: center;
}
.work-container h3 {
  color: white;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
}
.img-wrapper .portfolio-Image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 11px;
}
.img-wrapper .img-content {
  position: absolute;
  color: white;
  inset: 0;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: #09264E;
  border-radius: 11px;
  align-items: center;
  opacity: 0;
  font-size: 20px;
}
.img-wrapper .img-content img {
  width: 80px;
}
.img-wrapper .portfolio-Image, .img-wrapper .img-content {
  transition: 500ms ease-in-out;
}
.img-wrapper h5 {
  color: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
}

.img-wrapper:hover {
  cursor: pointer;
}
.img-wrapper:hover .img-content {
  opacity: 0.9;
  cursor: pointer;
}

.work-modal {
  width: 80%;
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: white;
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  width: 100%;
  height: 100%;
}

/* ------------- CONTACT -------------- */
.contact-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ededed;
}
.contact-container .contact-inner-container {
  margin: 0 auto;
  width: 700px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}
.contact-container .contact-inner-container input, .contact-container .contact-inner-container textarea {
  width: 680px;
  margin: 0 auto;
  padding: 6px;
  border-radius: 10px;
  background-color: #D9D9D9;
  border: none;
}
.contact-container .contact-inner-container input:focus, .contact-container .contact-inner-container textarea:focus {
  outline: none;
}
.contact-container .contact-inner-container textarea {
  resize: none;
}

/* ------------ FOOTER ----------- */
footer {
  background-color: #09264E;
}
footer .footer-inner-container {
  width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}
footer h1 {
  color: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
  font-weight: bold;
}
footer .copyright-container {
  border-top: 2px solid white;
}
footer img:hover {
  opacity: 50%;
  cursor: pointer;
}
footer a {
  text-decoration: underline;
  color: white;
}
footer a:hover {
  color: linear-gradient(90deg, #00B2CA 0%, #09CF83 100%);
  text-decoration: underline;
}

@keyframes refresh {
  from {
    transform: scale(1.1) rotate(0);
  }
  to {
    transform: scale(1.1) rotate(360deg);
  }
}

.arrow1 {
  display: inline-block;
  text-decoration: none;
  position: relative;
  background-color:#09264E;
  border-radius: 10px;
  padding: 10px 20px;
  color: white !important;
}

.arrow1 img {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.arrow1:hover img {
  animation: moveRightAndLeft 1s linear infinite; /* Add the infinite animation */
}

@keyframes moveRightAndLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px); /* Move 2px to the right */
  }
}